* {
    margin: 0;
    padding: 0;
}

body {
    color:black;
    background-color: #fdfdd3;
}

header {
    height: 70px;
    background-color: #6c3b2a;
    margin-bottom: 0px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: #2e1d17;
}

#logo {
    margin-left: 3%;
    padding: 1px;
    width: 90%;
    height: 90px;
}

/*#buscador {
    display: inline-block;
    margin: 0;
}

#buscador input {
    width: 70%;
}*/

.navegador{
    position: block;
    top: 0;
    right: 0;
    margin-right: 3%;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 20px;
}



button{
    background-color: #2e1d17;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #6c3b2a;
}

h1 {
    color: #2e1d17;
    margin-top: 30px;
    margin: 30px;
    font-family:'Times New Roman', Times, serif;
    border-bottom: 1px solid #2e1d17;
    text-align: center;
    width: 60%;
}

h2 {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    border-bottom: 1px solid #2e1d17;
    width: 60%;
    padding: 10px;
}

#form {
    padding: 50px;
    margin: auto;
    margin-bottom: 50px;
    width: 60%;
    background-color: #b37662be;
    border-radius: 5px;
}

input, textarea {
    border:0.5px solid #7e5142be;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
}

a:hover {
    color:#FFFFB9;
}

.redes a:hover{
    color: #6c3b2a;
 }
 
 .redes a{
     color: #2e1d17;
     font-size: 50px;
     margin: 30px;
 }

.container-producto {
    border-radius: 5px;
    padding: 10px;
    background-color: #b37662be;
    text-align: center;
}

.container-producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.container-producto h3 {
    font-size: 10px;
    margin-bottom: 5px;
}

footer p {
    color: white;
    font-size: 11px;
    text-align: center;
    padding-top: 18px;
}